<nav class="mobile-navbar">
    <a class="logo" *ngIf="!user?.company_data && user?.role == 'user'">
        <h1 class="app-logo">Logo</h1>
    </a>
    <div *ngIf="user?.company_data || user?.role != 'user'">
        <a class="logo panel" [matMenuTriggerFor]="mode">
            <h1 class="app-logo">Logo</h1>
            <mat-icon class="material-icons-round">expand_more</mat-icon>
        </a>
        <mat-menu #mode class="mat-menu">
            <button mat-menu-item routerLink="/main" routerLinkActive="active">
                <mat-icon class="material-icons-round">home</mat-icon>
                <span>Podróż</span>
            </button>
            <button *ngIf="user.company_data" mat-menu-item routerLink="/panel" routerLinkActive="active">
                <mat-icon class="material-icons-round">store</mat-icon>
                <span>Biznes</span>
            </button>
            <button *ngIf="user.role != 'user'" mat-menu-item routerLink="/admin" routerLinkActive="active">
                <mat-icon class="material-icons-round">admin_panel_settings</mat-icon>
                <span>Admin</span>
            </button>
        </mat-menu>
    </div>
    <div class="profile" *ngIf="user">
        <div class="user-info">
            <span class="firstname">{{user?.first_name}}</span>
            <span class="plan">Plan <span class="plan-name">{{user?.plan}}</span></span>
        </div>
        <a [matMenuTriggerFor]="settings" class="user-profile-photo"><img alt="User profile photo" src="{{user?.profile_photo_url}}"></a>
        <mat-menu #settings class="mat-menu">
            <button mat-menu-item>
                <mat-icon class="material-icons-round">settings</mat-icon>
                <span>Ustawienia</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">notifications</mat-icon>
                <span>Powiadomienia</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">manage_accounts</mat-icon>
                <span>Preferencje konta</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">dark_mode</mat-icon>
                <span>Ciemny motyw</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">logout</mat-icon>
                <span>Wyloguj</span>
            </button>
        </mat-menu>
    </div>
</nav>
