.card {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: var(--main--color);
    box-shadow: var(--main--shadow);
    outline: var(--main--outline);
    border-radius: 5px;

    margin: 20px;
}

.event-card {
    position: absolute;
    width: 100%;
    height: 100%;
}


.cover {
    height: calc(100% - 25px);
    width: 100%;

    .price {
        position: absolute;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.event-content {
    height: 25px;
}
