:root {
    // Descriptive Colors
    --gold: #FFD600;
    --light-blue: #00A3FF;
    --orange: #FF7A00;
    --purple: #7000FF;
    --turquoise: #00AD8E;
    --pink: #E4006E;
    --blue: #001AFF;
    --light-orange: #FFA800;
    --green: #039900;
    --red: #FF0000;
    --white: #FFFFFF;
    --black: #000000;
    --half--color: #808080;

    // Functional Colors
    --primary--color: var(--light-blue);
    --secondary--color: var(--purple);
}
