@import 'colors';

.light-mode {
    --main--color: var(--white);
    --color: var(--black);
    --accent--color: #DCDCDC;
    --main--color--80: #FFFFFFCC;
    --main--shadow: 0 0 20px var(--accent--color);
    background-color: var(--main--color);
    color: var(--color);
}

.dark-mode {
    --main--color: var(--black);
    --color: var(--white);
    --accent--color: #232323;
    --main--color--80: #000000CC;
    --main--outline: 2px solid var(--accent--color);
    background-color: var(--main--color);
    color: var(--color);
}
