@import 'theme';
@import 'colors';
@import 'typography';
@import 'pipes';

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: var(--accent--color);
    border-radius: 10px;
}

.vertical-dashed-line {
    width: 2px;
    height: 100%;
    background-image: linear-gradient(var(--accent--color) 50%, var(--main--color) 0%);
    background-position: right;
    background-size: 2px 31px;
    background-repeat: repeat-y;
}

.horizontal-line-dashed {
    width: 100%;
    height: 0px;
    margin: 5px 0;
    border-bottom: 2px dashed var(--accent--color);
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: var(--accent--color);
    user-select: none;
}

.cover .swiper-container {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

@import 'material';
