@use '@angular/material'as mat;
@import "theme";
@import "@angular/material/theming";
@include mat-core();

$mat-primary-palette: mat-palette(mat.$indigo-palette, 500);
$mat-accent-palette: mat-palette(mat.$pink-palette, A200, A100, A400);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

$custom-typography: mat.define-typography-config($font-family: 'Nunito',
);

@include mat.core($custom-typography);


.light-mode {
    @include angular-material-theme($app-light-theme);

    .mat-menu {
        box-shadow: var(--main--shadow)
    }
}

.dark-mode {
    @include angular-material-theme($app-dark-theme);

    .mat-menu {
        background-color: #020202;
        outline: 2px solid var(--accent--color);

        mat-icon {
            color: var(--half--color) !important;
        }
    }
}

.mat-menu {
    margin-top: 10px;
    padding: 0 8px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            mat-icon {
                color: var(--primary--color) !important;
            }

            span {
                color: var(--primary--color) !important;
            }
        }
    }

    mat-icon {
        margin-right: 10px;
    }

    span {
        font-size: 16px;
        font-weight: 600;
        color: var(--half--color);
    }
}

.stroked-mat-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
        margin-right: 10px;
    }

    span {
        font-size: 16px;
        font-weight: 600;
    }
}

.mat-form-field-disabled .mat-form-field-outline  {
    color: rgba(0, 0, 0, 0.12) !important;
}

//Snackbars styling

.snackbar-toast {
    background: var(--main--color) !important;
    color: var(--color) !important;
    box-shadow: none !important;
    padding: 10px 16px !important;

    .mat-simple-snack-bar-content {
        display: flex;
        height: 30px;
        align-items: center;
        gap: 15px;
        font-weight: 700;
        font-size: 15px;

        &:before {
            font-family: "Material Icons";
            font-size: 30px;
        }
    }

    .mat-button {
        padding: 0 5px;

        .mat-button-wrapper:before {
            font-family: "Material Icons";
            font-size: 25px;
            content: "\e14c";
            color: var(--accent--color);
        }
    }
}

.snackbar-success {
    outline: 2px solid var(--green);

    .mat-simple-snack-bar-content:before {
        content: "\e86c";
        color: var(--green);
    }
}

.snackbar-info {
    outline: 2px solid var(--blue);

    .mat-simple-snack-bar-content:before {
        content: "\e88e";
        color: var(--blue);
    }
}

.snackbar-error {
    outline: 2px solid var(--orange);

    .mat-simple-snack-bar-content:before {
        content: "\e000";
        color: var(--orange);
    }
}
