.app {
    height: 100%;
}

.pages {
    position: absolute;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
}

@media screen and (max-width: 800px) {
    .pages.main {
        top: 0;
    }

    .pages.payments {
        top: 50px;
        height: calc(100% - 100px);
    }
}
