<nav [ngClass]="{'main': routeMain == 'main'}">
    <a class="logo panel" [matMenuTriggerFor]="mode">
        <h1 class="app-logo">Logo</h1>
        <mat-icon class="material-icons-round">expand_more</mat-icon>
    </a>
    <mat-menu #mode class="mat-menu">
        <button mat-menu-item routerLink="/main" routerLinkActive="active">
            <mat-icon class="material-icons-round">home</mat-icon>
            <span>Podróż</span>
        </button>
        <button mat-menu-item routerLink="/panel" routerLinkActive="active">
            <mat-icon class="material-icons-round">store</mat-icon>
            <span>Biznes</span>
        </button>
    </mat-menu>
    <div class="menu" *ngIf="routeMain == 'main'">
        <a routerLink="/main/tickets" routerLinkActive="selected" class="tickets">
            <mat-icon class="material-icons-round">local_activity</mat-icon>
        </a>
        <div class="main-menu">
            <a routerLink="/main/transport" routerLinkActive="selected" class="transport">
                <mat-icon class="material-icons-round">flight</mat-icon>
            </a>
            <a routerLink="/main/events" routerLinkActive="selected" class="events">
                <mat-icon class="material-icons-round">event</mat-icon>
            </a>
            <a routerLink="/main/hotels" routerLinkActive="selected" class="hotels">
                <mat-icon class="material-icons-round">hotel</mat-icon>
            </a>
            <a routerLink="/main/explore" routerLinkActive="selected" class="explore">
                <mat-icon class="material-icons-round">explore</mat-icon>
            </a>
        </div>
        <a routerLink="/main/payments" routerLinkActive="selected" class="payments">
            <mat-icon class="material-icons-round">payment</mat-icon>
        </a>
    </div>
    <div class="profile">
        <div class="user-info">
            <span class="firstname">Adam</span>
            <span class="plan">Plan <span class="plan-name">Podróżnik</span></span>
        </div>
        <a [matMenuTriggerFor]="settings" class="user-profile-photo"><img alt="User profile photo" src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"></a>
        <mat-menu #settings class="mat-menu">
            <button mat-menu-item>
                <mat-icon class="material-icons-round">settings</mat-icon>
                <span>Ustawienia</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">notifications</mat-icon>
                <span>Powiadomienia</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">manage_accounts</mat-icon>
                <span>Preferencje konta</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">dark_mode</mat-icon>
                <span>Ciemny motyw</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">logout</mat-icon>
                <span>Wyloguj</span>
            </button>
        </mat-menu>
    </div>
</nav>