<nav [ngClass]="{'main': routeMain === 'main'}">
    <a class="logo" *ngIf="!authService.isLoggedIn || !authService.getUser()?.company_data && authService.getUser()?.role === 'user'">
        <h1 class="app-logo">Logo</h1>
    </a>
    <div *ngIf="authService.isLoggedIn && authService.getUser()?.company_data || authService.isLoggedIn && authService.getUser()?.role !== 'user'">
        <a class="logo panel" [matMenuTriggerFor]="mode">
            <h1 class="app-logo">Logo</h1>
            <mat-icon class="material-icons-round">expand_more</mat-icon>
        </a>
        <mat-menu #mode class="mat-menu">
            <button mat-menu-item routerLink="/main" routerLinkActive="active">
                <mat-icon class="material-icons-round">home</mat-icon>
                <span>Podróż</span>
            </button>
            <button *ngIf="authService.getUser()?.company_data" mat-menu-item routerLink="/panel" routerLinkActive="active">
                <mat-icon class="material-icons-round">store</mat-icon>
                <span>Biznes</span>
            </button>
            <button *ngIf="authService.getUser()?.role !== 'user'" mat-menu-item routerLink="/admin" routerLinkActive="active">
                <mat-icon class="material-icons-round">admin_panel_settings</mat-icon>
                <span>Admin</span>
            </button>
        </mat-menu>
    </div>
    <div class="menu" *ngIf="routeMain === 'main'">
        <a routerLink="/main/tickets" routerLinkActive="selected" class="tickets">
            <mat-icon class="material-icons-round">local_activity</mat-icon>
            <span class="menu-names">Bilety</span>
        </a>
        <div class="main-menu">
            <a routerLink="/main/transport" routerLinkActive="selected" class="transport">
                <mat-icon class="material-icons-round">flight</mat-icon>
                <span class="menu-names">Transport</span>
            </a>
            <a routerLink="/main/events" routerLinkActive="selected" class="events">
                <mat-icon class="material-icons-round">event</mat-icon>
                <span class="menu-names">Wydarzenia</span>
            </a>
            <a routerLink="/main/hotels" routerLinkActive="selected" class="hotels">
                <mat-icon class="material-icons-round">hotel</mat-icon>
                <span class="menu-names">Nocleg</span>
            </a>
            <a routerLink="/main/explore" routerLinkActive="selected" class="explore">
                <mat-icon class="material-icons-round">explore</mat-icon>
                <span class="menu-names">Więcej</span>
            </a>
        </div>
        <a routerLink="/main/payments" routerLinkActive="selected" class="payments">
            <mat-icon class="material-icons-round">payment</mat-icon>
            <span class="menu-names">Płatności</span>
        </a>
    </div>
    <div class="profile" *ngIf="authService.isLoggedIn">
        <div class="user-info">
            <span class="firstname">{{authService.getUser().first_name}}</span>
            <span class="plan">Plan <span class="plan-name">{{authService.getUser().plan}}</span></span>
        </div>
        <a [matMenuTriggerFor]="settings" class="user-profile-photo"><img alt="User profile photo" src="{{authService.getUser().profile_photo_url}}"></a>
        <mat-menu #settings class="mat-menu">
            <button mat-menu-item>
                <mat-icon class="material-icons-round">settings</mat-icon>
                <span>Ustawienia</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">notifications</mat-icon>
                <span>Powiadomienia</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">manage_accounts</mat-icon>
                <span>Preferencje konta</span>
            </button>
            <button mat-menu-item>
                <mat-icon class="material-icons-round">dark_mode</mat-icon>
                <span>Ciemny motyw</span>
            </button>
            <button mat-menu-item (click)="authService.logout()">
                <mat-icon class="material-icons-round">logout</mat-icon>
                <span>Wyloguj</span>
            </button>
        </mat-menu>
    </div>
    <div *ngIf="!authService.isLoggedIn">
        <button *ngIf="routeMain === 'landing'" mat-stroked-button class="stroked-mat-btn" routerLink="/auth">
            <mat-icon class="material-icons-round">login</mat-icon>
            <span>Zaloguj</span>
        </button>
        <button *ngIf="routeMain === 'auth'" mat-stroked-button class="stroked-mat-btn" routerLink="/landing">
            <mat-icon class="material-icons-round">home</mat-icon>
            <span>Strona główna</span>
        </button>
    </div>
</nav>
